.hero {
    padding: 5.6vw;
    min-height: 80vh;
}

.card {
    padding: 5.6vw;
    min-width: 80vh;
    background-color: #b2bec3;
}


.clientes {
    padding: 5.6vw;
    min-height: 80vh;
}

.contas {
    padding: 5.6vw;
    min-height: 80vh;
}

.card-sm {
    height: 500px;
}

    